.contact-container {
    padding: 50px;
    text-align: center;
    color: white;
    max-width: 800px;
    margin: 0 auto;
}

.contact-container h2 {
    font-size: 36px;
    color: #00bfff;
    margin-bottom: 20px;
}

.contact-container p {
    font-size: 18px;
    margin-bottom: 30px;
    color: #ccc;
}

.contact-form {
    background: #222;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #00bfff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
}

.contact-form label {
    display: block;
    text-align: left;
    font-size: 16px;
    margin-bottom: 5px;
    color: #fff;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: #111;
}

.contact-form input:focus,
.contact-form textarea:focus {
    outline: none;
    border: 2px solid #00bfff;
}

.contact-form textarea {
    resize: none;
}

.submit-btn {
    background-color: #00bfff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-btn:hover {
    background-color: #007acc;
}

.additional-contact-info p {
    font-size: 16px;
    margin: 10px 0;
    color: #ccc;
}
