* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #1c1f2b;
    color: #fff;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 35px;
    background-color: #111;
}

.logo {
    display: flex;
    align-items: center;
    position: absolute;
    top: 20px;
}

.logo-img {
    width: 70px; /* Adjust the size as needed */
    height: auto;
    margin-right: 15px; /* Space between logo image and text */
    border-radius: 50%;
}

.logo h1 {
    font-size: 30px;
    color: #00bfff;
}

.nav-links {
    display: flex;
    list-style: none;
    position: relative;
    left: 400px;
    top: 10px;
}

.nav-links li {
    margin: 0 50px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    transition: color 0.3s;

}

.nav-links a:hover {
    color: #00bfff;
}

.contact-btn {
    background-color: #0e7fa4;
    padding: 15px 25px;
    border-radius: 25px;
    text-decoration: none;
    color: #fff;
    transition: background-color 0.3s;
    position: relative;
    left: 1300px;
    top: -10px;
}

.contact-btn:hover {
    background-color: #0b68a6;
}
.services-container {
    padding: 50px;
    max-width: 1200px; /* Limiting width for better readability */
    margin: 0 auto;
    text-align: center;
}

.services-container h2 {
    font-size: 36px;
    color: #00bfff;
    margin-bottom: 30px;
    font-weight: 600;
}

.intro-text {
    font-size: 18px;
    color: #ccc;
    line-height: 1.6;
    margin-bottom: 40px;
    max-width: 900px;
    margin: 0 auto 40px auto; /* Center align intro text and add bottom margin */
}

.service-item {
    background: #222;
    margin: 20px auto;
    padding: 30px;
    border-radius: 10px;
    max-width: 900px; /* Limit the width of the service items */
    border: 2px solid #00bfff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    text-align: left;
}

.service-item h3 {
    font-size: 24px;
    margin-bottom: 20px; /* Increased bottom margin */
    color: white;
}

.service-item p {
    font-size: 18px;
    color: #ccc;
    line-height: 1.6;
}

@media (max-width: 768px) {
    .services-container {
        padding: 20px;
    }
    
    .service-item {
        padding: 20px;
    }

    .service-item h3 {
        font-size: 30px;
    }

    .service-item p {
        font-size: 16px;
    }
}
